
:root {
    --Primary-color: #1d3476;
    --Secondary-color: #7ca7c9;
    --text-color: #333;
}

h1, h2 {
    color: var(--Primary-color);
}

p {
    color: var(--text-color);
}

.social-links a {
    text-decoration: none;
}

body {
    max-width: 1200px;
    margin: 0 auto;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

hero h1 {
    position: absolute;
}

hero article {
    position: absolute;
    background-color: #9494B0;

}

hero img article {
    float: right;
}